<% if (locals.data.length) { %> <% console.log(locals.data); %>
<div class="accordion col-12 col-sm-10 col-lg-8 col-xxl-6 m-5" id="accordion">
  <% for (let i = data.length - 1; i >= 0; i -= 1) { %>

  <div id="post_number_<%=i%>" class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse<%=i%>"
        aria-expanded="true"
        aria-controls="collapse<%=i%>"
      >
        <div class="custom_text">
          <strong><em><%=data[i].title%></em></strong>
        </div>
        <div class="d-flex justify-content-end flex-grow-1">
          <h7 class="mx-3"><%=data[i].date%></h7>
        </div>
      </button>
    </h2>

    <div
      id="collapse<%=i%>"
      class="accordion-collapse collapse"
      data-bs-parent="#accordion"
    >
      <div class="accordion-body custom_text"><%=data[i].content%></div>
      <div class="d-flex justify-content-end">
        <!-- data-* attribute is used to store custom data private to the page or application. -->
          <button
            id="edit_button<%=i%>"
            data-post_index_edit="<%=i%>"
            data-bs-toggle="modal"
            data-bs-target="#edit_modal"
            type="button"
            class="edit_button btn btn-outline-warning m-2"
          >
            <img
              class="pencil_icon"
              src="edit-pencil.svg"
              height="15px"
              width="15px"
            />
          </button>
        <!-- data-* attribute is used to store custom data private to the page or application. -->
        <button
          id="delete_button<%=i%>"
          data-post_index_delete="<%=i%>"
          data-bs-toggle="modal"
          data-bs-target="#delete_confirm"
          type="button"
          class="delete_button btn btn-outline-danger m-2 delete_button"
        >
          <img
            class="trash_icon"
            src="delete-trash-can.svg"
            height="15px"
            width="15px"
          />
        </button>
      </div>
    </div>
  </div>

  <% } %>
</div>

<% } %> <%- include('delete_confirm_modal.ejs') %>
<%- include('edit_modal.ejs') %>